@import '../../styles/geometry';
@import '../../styles/colors';
@import '../../styles/fonts';

.field {
	height: 25px;
	width: 100%;
	border: 2px solid $primary-color;
	border-radius: $border-radius;
	overflow: hidden;
	padding: 0 5px;
	color: $text-color;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	@include font-regular;
}
